<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="">

        <title></title>

        <link rel="shortcut icon" href="favicon.png">
        <link rel="search" type="application/opensearchdescription+xml" href="http://localhost:5000/opensearch/documentation.xml" title="Appsco API documentation" />

        {% block stylesheet %}
            <link type="text/css" rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css" />
            <link rel="stylesheet" href="/vendor/highlight/src/styles/github.css">
            <link type="text/css" rel="stylesheet" href="/css/style.css" />
        {% endblock stylesheet %}
    </head>
    <body>
        <header class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-md-offset-2 text-left">
                    <img src="http://media.mysiteshop.com/img/appsco-logo.png">
                </div>
                <div class="col-md-3 col-md-offset-3 text-right">
                    <a href="https://appsco.com/">
                        return to appsco.com
                    </a>
                </div>

            </div>
        </header>
        <section class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-md-offset-2 sidemenu">
                    <ul class="nav nav-pills nav-stacked">
                    {% for item in sidemenu %}
                        <li {% if item.location == location %}class="active"{% endif %} >

                            <a href="/{{ item.route }}" >

                                {{ item.name }}
                                {% if item.method %}
                                    <span class=" badge {{ item.method|lower }}">{{ item.method|upper }}</span>
                                {% endif %}

                            </a>
                        </li>
                        {% if item.children %}
                            <ul class="nav nav-pills nav-stacked">
                                {% for child in item.children %}
                                    <li {% if child.location == location %}class="active"{% endif %} ><a href="/{{ child.route }}" >{{ child.name }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
                <div class="col-md-6 content">
                    {{ content|raw }}
                </div>
            </div>
        </section>

        <section class="container-fluid shade">
            <div class="row">
                <div class="col-md-7 col-md-offset-5 shaded"></div>
            </div>
        </section>

        <footer class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="http://media.mysiteshop.com/img/appsco-footer.png">
                </div>
            </div>
        </footer>
        {% block javascript %}

            <script src="/vendor/highlight/build/highlight.pack.js"></script>
            <script>hljs.initHighlightingOnLoad();</script>

        {% endblock javascript %}
    </body>
</html>